@{
    ViewBag.Title = "Bienvenu";
}

<h2>@ViewBag.Message</h2>
@if (Request.IsAuthenticated)
{
    <p>Utilisez le menu du haut pour naviguer dans le site.</p>
}
else
{
    <p>Pour vous connecter clicker sur le lien en haut à droite de la page.</p>
}