@if(Request.IsAuthenticated) {
    <span>Welcome <b>@Context.User.Identity.Name</b>!
    [ @Html.ActionLink("Log Off", "Se déconnecter", "Account") ]</span>
}
else {
    @:[ @Html.ActionLink("Log On", "Se connecter", "Account") ]
}
