@model System.Exception

@{
    ViewBag.Title = "Erreur";
}

<h2>Une erreur est survenue lors de @ViewBag.ErrorMode de la plage de créneaux. Le message d'erreur est @Model.Message.</h2>

<div>
    @Html.ActionLink("Créer une nouvelle plage de créneaux", "Create")
</div>
