@model string

@{
    ViewBag.Title = "Erreur";
}

<h2>Certains champs sont invalides. Voici le détail: <br /></h2>
@Model

<div>
    <a href="javascript:history.back(-1)">retour</a><br />
    @Html.ActionLink("Créer une nouvelle plage de créneaux", "Create")
</div>

