* {margin:0;padding:0;}

body {
	font: 12px Tahoma, Georgia, serif;
	/* background: #2c2c29 url('img/bg.png') repeat center; */
	background: #666;
}
#page-wrap {
	min-width: 960px;
	max-width:90%;
	*width:960px;
	background: #fff url('img/wrapper-left.bg.png') repeat-y left;
	margin: 0 auto;
	position: relative;
	
	/*zoom: 1; */
}
#page-wrap .rightbg{
    background: url('img/wrapper-right.bg.png') repeat-y right;
    padding:0 20px 0 20px;
    
}
#header {
	min-width: 1000px;
	max-width:90%;
	*width:1000px;
	height:107px;
	background: #fff url('img/header-left.png') no-repeat left;
	margin: 0 auto 0 auto;
	/* padding:0 20px 0 20px; */
}
#header div{
    background: #fff url('img/header-right.png') no-repeat right;
    height:107px;
    width:150px;
    float:right;
}
#header h1 {
	float:left;
}
#header h1 a{
	background: url('img/logo.png') no-repeat;
	display:block;
	width:359px;
	height:92px;
	margin-top:15px;
	margin-left:20px;
}
#header h1 span {
	display:none;
}

#main-content {
	padding: 0 ;
	overflow: auto;
}
	#main-content p {line-height:1.5;}
	#main-content p, #main-content address {
		text-align:justify;
		padding:0 1em;
		margin-left: 15px ;
	}
	a {
		color: #3333ff ;
		text-decoration:none;
	}
	a:hover {
		color: #0e8dc5 ;
	}
	h2 {
		border-bottom:1px solid #3333ff;
		margin-bottom:7px;
		color:#3333ff;
	}
	h3 {
		margin-left:0;
		margin-bottom:7px;
		border-bottom:1px solid #DCDCDB;
		font-size:17px;
	}
	h4 {
		margin-left: 15px ;
	}
	h5 {
		margin-left: 15px ;
	}
#menu {
	list-style:none;
	height:40px;
	background:#fff;
	padding-top:3px;
	margin-bottom:5px;
}
	#menu li{
		float:left;
		text-align:center;
	}
	#menu li a{
		display:block;
		width:170px;
		height:35px;
		line-height:35px;
		padding-left:5px;
		background:#333333;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		border-right:1px solid #fff;
	}
	#menu li a:hover{
		background:#222;
		color:#eee;
	}
#footer {
	min-width: 1000px;
	max-width:90%;
	*width:1000px;
	height: 73px;
	background: #fff url('img/footer-left.png') no-repeat left -65px;
	margin: 0 auto 15px;
	text-align:center;
}
#footer div {
    background: #fff url('img/footer-right.png') no-repeat right -65px;
    width:20px;
    height:73px;
    float:right;
}
	#footer p{
		padding: 5px;
		color: #444;
	}
	#footer a {
		color: #222;
		border-bottom: 1px dotted white;
		text-decoration: none;
	}
	#footer a:hover {
		border-bottom-style: solid;
	}

#user {
	float:right;
	display:block;
	margin-top:15px;
	margin-right:20px;
	color:#fff;
	width:450px;
	text-align:right;
}
    #user a {
	    font-weight:bold;
	    color:#fff;
    }

form label{
	float:left;
	min-width:170px;
	cursor:pointer;
	padding-right:10px;
	color:#333;
	font-weight:bold;
}
    form .display-label, .editor-label {
        margin: 4px 0 0 0;
    }
    form .display-field, .editor-field {
        margin:2px 0 0 0;
    }
	form label i {
		font-weight:normal;
	}
	form input.error, form input.error:focus, form input.error:hover, form .textarea.error{
		border:1px solid red;
	}
	form p {
		margin:2px 0;
	}
	form .submit{
		margin-left:180px;
	}
	form .text-box, form .mediumtext, .shorttext, form .textauto {
		border:1px solid #aaa;/*#E5E2E0; */
		padding:3px;
		height:18px;
		line-height:18px;
	}
	form .text-box[readonly], form .text-box[readonly]:hover, form .text-box[readonly]:focus {
		background:#eee;
		border:1px solid #ccc;
	}
	form .text-box {
		width:420px;
	}
	form .mediumtext {
	    width: 120px;
	}
	form .shorttext {
		width:50px;
	}
	form .selectbox {
		border:1px solid #aaa;
		padding:3px;
		min-width:150px;
	}
	form .textarea {
		border:1px solid #aaa;
		padding:3px;
		width:450px;
	}
	form .text-box:focus, form .text-box:hover {
		border:1px solid #3333ff;
		background: #fff;
	}
	.button {
		margin-bottom:5px;
	}
	fieldset {
        border:1px solid #ddd;
        padding:0 1.4em 1.4em 1.4em;
        margin:0 5px 5px 0;
    }
    legend {
        font-size:1.2em;
        font-weight: bold;
    }
	/* Styles for validation helpers -----------------------------------------------------------*/
    .field-validation-error {
        color: #ff0000;
        display:block;
        margin-left:180px;
    }
    .field-validation-valid {
        display: none;
    }
    form input.input-validation-error, form input.input-validation-error:focus, form input.input-validation-error:hover, form .textarea.input-validation-error{
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }
    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }
    .validation-summary-valid {
        display: none;
    }
	
	
.simpleTable {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #eee;
	border-collapse: collapse;
	text-align: left;
	margin:0 auto 10px 10px;
}
	.simpleTable thead {
		background:#555;
	}

	.simpleTable thead .subTitle th{
		font-size:11px;
	}
	.simpleTable th, .simpleTable th a {
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		padding: 10px 8px;
		border-bottom: 1px dashed #fff;
	}
	.simpleTable .dragRow {
		background:#000;
	}
	.simpleTable td {
		border-bottom: 1px dotted #555;
		color: #333;
		padding: 6px 8px;
	}
	.simpleTable .alt td {
	    background:#bbb;
	}
	.simpleTable tbody tr:hover td {
		color: #3333ff;
	}
	.simpleTable tbody .center td {
		text-align:center;
	}

.slotRange {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #FFCCCA;
	border-collapse: collapse;
	text-align: left;
	margin:0 auto 10px 10px;
}
    .slotRange .empty {
        background:#fff;
        color:#333;
        font-weight:bold;
    }
	.slotRange thead {
		background:#555;
		text-align:center;
	}
	.slotRange thead th {
	    border-right:1px solid #fff;
	}

	.slotRange thead .subTitle th{
		font-size:11px;
		white-space: nowrap;
		border-bottom: 3px solid #fff;
		border-right:none;
	}
	.slotRange thead .subTitle th.withborder {
	    border-right:1px solid #fff;
	}
	.slotRange th, .slotRange th a {
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		padding: 10px 8px;
		
		white-space: nowrap;
	}
	.slotRange tbody th {
	    color:#000;
	    background:#CBCBCB;
	    border-bottom: 3px solid #fff;
	}
	.simpleTable .dragRow {
		background:#000;
	}
	.slotRange td {
		border-bottom: 3px solid #fff;
		border-right: 1px solid #fff;
		color: #333;
		padding: 6px 8px;
		
	}
	.slotRange tbody tr:hover td {
		color: #3333ff;
	}
	.slotRange tbody .center td {
		text-align:center;
	}
	.slotRange .reserved {
	    text-align:center;
	    background:#D1F3D1;
	    font-weight:bold;
	}
	.slotRange .occupied {
	    text-align:center;
	    background:#888;
	    font-weight:bold;
	}
	
.delete, .modify, .dupl, .add, .refuse, .script, .look, .unlock{
	margin-left:5px;
	margin-top:2px;
	margin-bottom:2px;
	width:15px;
	height:15px;
	display:block;
	float:left;
}
	.add {
		background:transparent url('img/add2.png') no-repeat;
	}
	.look {
		background:transparent url('img/look.png') no-repeat;
	}
	.unlock {
		background:transparent url('img/unlock.png') no-repeat;
	}
	.refuse {
		background:transparent url('img/refuse.png') no-repeat;
	}
	.dupl {
		background:transparent url('img/duplicate.png') no-repeat;
	}
	.delete {
		background:transparent url('img/delete.gif') no-repeat;
	}
	.modify {
		background:transparent url('img/modify.png') no-repeat;
	}
	.script {
		background:transparent url('img/script_gear.png') no-repeat;
		width:16px;
		height:16px;
	}
	
	
	
	
.machines {
	list-style:none;
	margin-left:20px;
	padding-left:5px;
	width:450px;
}
.machines input {
	
}
.machines li{
	background:#aaa;
}
.machines li ul{
	list-style:none;
	margin:0;
	padding-left:15px;
}
.machines li ul li{
	background:#ccc;
}

.wizard-step{
    display:none;
}
