@model IEnumerable<GR_Calcul.Models.Machine>

@{
    ViewBag.Title = "Liste des machines";
}

<h2>@ViewBag.Title</h2>

<p>
    @{
        var isManager = false;
        if(((GR_Calcul.Models.Person)Membership.GetUser(Context.User.Identity.Name)).pType == GR_Calcul.Models.PersonType.ResourceManager){
            isManager = true;
            <a href="@Url.Action("Create")" class="button" title="Créer une machine">Créer une machine</a>
        }
    }
</p>

@{
    var grid = new WebGrid(
        source: Model,
        defaultSort: "Name"
    );
}

@grid.GetHtml(
tableStyle: "simpleTable",
headerStyle: "head",
alternatingRowStyle: "alt",
columns: grid.Columns(
    grid.Column("Name", "Nom"),
    grid.Column("IP", "IP"),
    grid.Column("RoomString", "Lieu"),
    grid.Column(
        format: (item) =>
        {
            if (isManager)
                return new HtmlString("<a href=\"" + Url.Action("Edit", new { id = item.id_machine }).ToString() + "\"class=\"modify\" title=\"Modifier\"></a>" +
                                    "<a href=\"" + Url.Action("Delete", new { id = item.id_machine }).ToString() + "\"class=\"delete\" title=\"Supprimer\"></a>");
            else return new HtmlString("");
        }, canSort: false
    )
)
) 
