@model IEnumerable<GR_Calcul.Models.Course>

@{
    ViewBag.Title = "Liste";
}

<h2>Liste de mes cours</h2>


@{
    var grid = new WebGrid(Model);
}
@grid.GetHtml(
    tableStyle: "simpleTable",
    headerStyle: "head",
    alternatingRowStyle: "alt",
    
    columns: grid.Columns(
            grid.Column("Name", "Nom"),
            grid.Column("Key", "Clefs"),
            grid.Column("ResponsibleString", "Responsible"),                
            grid.Column(format: (item) =>
                {
                    return new HtmlString("<a href=\"" + Url.Action("ReserveSlotRange", "SlotRange", new { id = item.ID }).ToString() + "\" class=\"look\" title=\"Voir les plages de slot\"></a>");
                    
                }, canSort: false))
        )

